<!DOCTYPE html>
<html lang="pt-br">

<% include('partials/head.ejs') %>

  <% if (typeof message !=='undefined' ) { %>
    <%= message %>
      <%}%>

        <body>
          <h1><%- title %></h1>
          <% include('partials/navbar.ejs') %>
            <form action="/edit/<=%user._id%>" method="POST">
              <div>
                <label for="">Nome</label>
                <input type="text" name="name" id="" placeholder="Digite seu nome" value="<%= user.name %>">
              </div>
              <div>
                <label for="">Idade</label>
                <input type="text" name="age" id="" placeholder="Digite sua idade" value="<%= user.age %>">
              </div>
              <div>
                <label for="">E-mail</label>
                <input type="text" name="email" id="" placeholder="Digite seu e-mail" value="<%= user.email %>">
              </div>

              <button type="submit">Editar</button>
            </form>
            <% include('partials/foot.ejs') %>
        </body>

</html>